table {
  width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;
}

table th, td {
  border: 1px solid #000000;
  padding: .5rem 0;
}

table th {
  background-color: #eeeeee;
}

table td {
  text-align: center;
  transition: all .2s;
}

table td:hover:not(.disabled) {
  cursor: pointer;
  background-color: #eeeeee;
}

.disabled {
  opacity: .5;
}

.active {
  color: #dc3545;
  font-weight: bold;
}

.selected {
  color: blue;
}
